<section id="portfolio-gallery" class="portfolio-gallery">
    <div class="container">
        <h2>Experience</h2>
        <div class="portfolio-items">
            <MudCard Elevation="3">
                <MudCardMedia Image="/images/thumbnail-blackfort.jpg" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Software Developer</MudText>
                    <MudText Class="mt-3" Typo="Typo.body2">
                        <MudIcon Icon="@Icons.Material.Filled.LocationOn" Color="Color.Error" /><MudLink Class="burger-btn" Href="https://www.blackfort.ph/" Target="_blank">Blackfort Consulting, Inc</MudLink>
                    </MudText>
                    <div class="px-6">
                        <MudText Typo="Typo.body2">Software Company</MudText>
                        <MudText Typo="Typo.body2"><b>June 2023 · Current - Full time</b></MudText>
                        <MudText Typo="Typo.body2">Infrastructure Monitoring Web & Native Mobile App for large companies.</MudText>
                        <MudText Typo="Typo.body2">Electronic Document Management System Web Applicaiton.</MudText>

                    </div>
                </MudCardContent>
            </MudCard>
            <MudCard Elevation="3">
                <MudCardMedia Image="/images/stagePGMO.jpg" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Blazor Web Development</MudText>
                    <MudText Class="mt-3" Typo="Typo.body2">
                        <MudLink Class="burger-btn dep-text" Href="https://maps.app.goo.gl/oyzHqAUmNw4woAG3A" Target="_blank">
                            <MudIcon Icon="@Icons.Material.Filled.LocationOn" Color="Color.Error" /> Provincial Government of Misamis Oriental Philippines.
                        </MudLink>
                     </MudText>
                    <div class="px-6">
                        <MudText Typo="Typo.body2"><b>May 2021 - June 2023 · 2 yrs 5 mos - Full time</b></MudText>
                        <MudText Typo="Typo.body2">Developed software applications for Local Government such as document transactions and many more.</MudText>
                    </div>
                </MudCardContent>
            </MudCard>
            <MudCard Elevation="3">
                <MudCardMedia Image="/images/banner.jpg" Height="200" Style="object-fit: contain" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Blazor Web Development</MudText>
                    
                    <MudText Class="mt-3" Typo="Typo.body2">
                        <MudLink Class="burger-btn dep-text" Href="https://maps.app.goo.gl/oyzHqAUmNw4woAG3A" Target="_blank">
                            <MudIcon Icon="@Icons.Material.Filled.LocationOn" Color="Color.Error" Style="margin-bottom: 5px;" />Department of Social Welfare and Development.
                        </MudLink>
                    </MudText>
                    <div class="px-6">
                        <MudText Typo="Typo.body2"><b>Jan 2020 - Dec 2020 · 1 yr - Full time</b></MudText>
                        <MudText Typo="Typo.body2">Developed New Version of Document Management System.</MudText>
                    </div>
                </MudCardContent>
            </MudCard>
            <MudCard Elevation="3">
                <MudCardMedia Image="/images/banner.jpg" Height="200" Style="object-fit: contain" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Project Team Leader</MudText>
                    <MudText Class="mt-3" Typo="Typo.body2">
                        <MudIcon Icon="@Icons.Material.Filled.Business" Color="Color.Default" Style="margin-bottom: 5px;" /><MudLink Class="burger-btn" Href="https://www.svi.com.ph/" Target="_blank">Software Venture International.</MudLink>
                    </MudText>
                    <div class="px-6">
                        <MudText Typo="Typo.body2"><b>Jan 2020 - Aug 2020 · 8 mos - Contract</b></MudText>
                        <MudText Typo="Typo.body2">Team leader for data capture (OCR documents to digital copy) using Document Management System.</MudText>
                    </div>
                </MudCardContent>
            </MudCard>

        </div>
    </div>
</section>