
<section class="hero-section">
    <div class="container">
        <!-- Wrap the content and image in a flex container -->
        <div class="hero-flex">
            <!-- Hero Content -->
            <div class="hero-content">
                <h1 class="text-decoration-none">Leo Ganas.</h1>
                <p>Software Engineer</p>
                <a href="#portfolio-gallery" class="btn">View My Work</a>
            </div>

            <!-- Hero Image -->
            <img src="/images/img-profile-pic.png" class="hero-image" alt="Profile Picture">
        </div>
    </div>
</section>
