@page "/"

<div class="portfolio-container">
    <Leo.Project.Portfolio.Web.Pages.Loader.LoaderPage />

    <!-- Top Bar -->
     <Leo.Project.Portfolio.Web.Pages.TopBar.TopBarPage />

    <!-- Hero Section -->
  <Leo.Project.Portfolio.Web.Pages.HeroSection.HeroSectionPage />


    <!-- Portfolio Gallery -->
   <Leo.Project.Portfolio.Web.Pages.Gallery.GalleryPage />

    <!-- Footer -->
  <Leo.Project.Portfolio.Web.Pages.Footer.FooterPage />

</div>
