@page "/"
@inherits HomeBase

<div class="portfolio-container">
    <LoaderPage IsVisible="@IsVisible"/>

    <!-- Top Bar -->
     <TopBarPage />

    <!-- Hero Section -->
    <HeroSectionPage />


    <!-- Portfolio Gallery -->
    <GalleryPage />

    <!-- Footer -->
    <FooterPage />

</div>
