@page "/"
@inherits HomeBase
@using Leo.Project.Portfolio.Web.Services;
@using static Leo.Project.Portfolio.Web.Pages.Weather

@inject PortfolioApiService ApiService

<div class="portfolio-container">
    <LoaderPage IsVisible="@IsVisible"/>
    
    <!-- Top Bar -->
     <TopBarPage />
    
    <!-- Hero Section -->
    <HeroSectionPage />

    <Leo.Project.Portfolio.Web.Pages.EmailSender.EmailSenderPage />

    <Leo.Project.Portfolio.Web.Pages.About.AboutPage />

    <Leo.Project.Portfolio.Web.Pages.Skills.SkillsPage />
    <!-- Portfolio Gallery -->
    <GalleryPage />
    <Leo.Project.Portfolio.Web.Pages.Contact.ContactPage />
    <!-- Footer -->
    <FooterPage />

</div>

@* @code {
    private IEnumerable<WeatherForecast> weatherForecasts;

    // Fetch weather data when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        weatherForecasts = await ApiService.GetWeatherForecastAsync();
    }
}
 *@
