

<section id="services" class="services">
    <div class="container">
        <h2>Services</h2>
        <MudCard Elevation="2">
            <MudCardContent>
              <div class="d-flex justify-content-between">
                  <div class="container">

                        <div class="web-container" style="height: 370px; background-color: #131a1c; border-radius: 20px;">
                            <MudAppBar Style="background-color: #131a1c; height: 50px; z-index:0; border-radius: 10px;" Fixed="false" Dense="true" Elevation="4">
                                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" Size="Size.Small" />
                                <MudSpacer />
                                <MudBadge Color="Color.Success" Overlap="true" Bordered="true">
                                    <MudAvatar Size="Size.Small">
                                        <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Size="Size.Small" />
                                    </MudAvatar>
                                </MudBadge>
                            </MudAppBar>

                            <div class="container d-flex justify-content-between gap-3">
                                 <MudCard Elevation="3" Square="true" Outlined="true" Style="background-color: white; height: 100px; width: 250px; margin-top: 10px; border-radius: 10px;">

                                 </MudCard>
                                <MudCard Elevation="3" Square="true" Outlined="true" Style="background-color: white; height: 100px; width: 250px; margin-top: 10px; border-radius: 10px;">

                                </MudCard>
                            </div>
                           
                            <div class="container">
                                <hr />
                            </div>

                            <div class="container">
                                <MudGrid>
                                    <MudItem xs="5">
                                        <MudPaper Style="width: 200px">
                                            <MudStepper  Vertical ShowResetButton NonLinear="false">
                                                <ChildContent>
                                                    <MudStep Completed="true" Title="For Approval">Approved.</MudStep>
                                                    <MudStep Title="Inspection Details" SecondaryText="Optional" Skippable="true">An ad group contains one or more ads which target a shared set of keywords.</MudStep>
                                                    <MudStep Title="Summary">Try out different ad text to see what brings in the most customers, and learn how to enhance your ads using features like ad extensions. If you run into any problems with your ads, find out how to tell if they're running and how to resolve approval issues.</MudStep>
                                                </ChildContent>
                                                <CompletedContent>
                                                    Thank you for wasting your money on clicks!
                                                </CompletedContent>
                                            </MudStepper>
                                        </MudPaper>
                                    </MudItem>
                                    <MudItem xs="7">
                                        <MudPaper Class="d-flex align-center justify-center mud-width-full py-2">xs=6</MudPaper>
                                    </MudItem>
                                </MudGrid>
                              
                            </div>
                        </div>
                  </div>
                    <div class="container">
                        <MudText>Story of the day</MudText>
                        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                    </div>
              </div>
               
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
</section>
 